@charset "utf-8";


/*========= ローディング画面のためのCSS ===============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #daca0b;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/*画面遷移アニメーション*/
.splashbg{
    display: none;
}


body.appear .splashbg{
	display:block;
}

body.appear .splashbg{
	animation-name:PageAnime;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
    content: "";
    position:fixed;
	z-index: 999;
    width: 50%;
    height: 100vh;
    top: 0;
	left: 0;
    transform: translateX(-300%) skewX(-45deg);
    background-color: #000;/*伸びる背景色の設定*/
}

@keyframes PageAnime{
	0% {
		transform-origin:left;
		transform:translateX(-300%) skewX(-45deg);
	}
	100% {
		transform-origin:left;
		transform:translateX(500%) skewX(-45deg);
	}
}


#container{
    position: relative;
	opacity: 0;
}


body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}


/*========= ナビゲーションのためのCSS ===============*/

#g-nav.panelactive{
   
    position:fixed;
    z-index: 999;
	top: 0;
	width:100%;
    height: 100vh;
}


.circle-bg{
    position: fixed;
	z-index:3;
   
    width: 100px;
    height: 100px;
    border-radius: 50%;
	animation: bgchange 40s ease infinite;
	transform: scale(0);
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    transition: all .6s;
}

.circle-bg.circleactive{
	transform: scale(50);
}


#g-nav-list{
    display: none;
    
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block;
}


#g-nav ul {
	opacity: 0;
   
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


#g-nav.panelactive ul {
    opacity:1;
}


#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

/*リストのレイアウト設定*/
#g-nav li{
	text-align: center; 
	list-style: none;
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

@media screen and (max-width:768px) {
#g-nav li a{
	padding:5px 10px;
}    
}


.openbtn{
	position: fixed;
    top:2vh;
    right:2vw;
    z-index: 9999;
	cursor: pointer;
    width: 50px;
    height:50px;
}


.openbtn .openbtn-area{
    transition: all .6s;
	width:50px;
	height:50px;
}

.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: #333;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると .openbtn-areaが360度回転し、その中の線が回転して×に*/
.openbtn.active .openbtn-area{
	transform: rotate(360deg);
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


/*スクロールダウン全体の場所*/
.scrolldown3{
    /*描画位置※位置は適宜調整してください*/
	position:absolute;
	bottom:10px;
	left:50%;
    /*マウスの動き1.6秒かけて動く永遠にループ*/
	animation:mousemove 1.6s ease-in-out infinite;
}

/*下からの距離が変化して上から下に動く*/
@keyframes mousemove{
      0%{bottom:10px;}
      50%{bottom:5px;}
     100%{bottom:10px;}
 }

/*Scrollテキストの描写*/
.scrolldown3 span{
    /*描画位置*/
	position: absolute;
	left:-15px;
	bottom:45px;
    /*テキストの形状*/
	color: #000;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
}

/*マウスの中の線描写 */
.scrolldown3 span::after{
	content: "";
    /*描画位置*/
	position: absolute;
	top:10px;
	left:17px;
    /*線の形状*/
	width: 1px;
	height: 15px;
	background: #000;
    /*線の動き1.4秒かけて動く。永遠にループ*/
	animation: mousepathmove 1.4s linear infinite;
	opacity:0;
}

/*上からの距離・不透明度・高さが変化して上から下に流れる*/
@keyframes mousepathmove{
	0%{
		height:0;
		top:10px;
		opacity: 0;
	}
	50%{
		height:15px;
		opacity: 1;
	}
	100%{
		height:0;
		top:30px;
		opacity: 0;
	}
}

/*マウスの描写 */
.scrolldown3:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom:0;
    left:-10px;
    /*マウスの形状*/
	width:25px;
	height:37px;
	border-radius: 10px;
	border:1px solid #000;
}


/*マウスの中の丸の描写*/
.scrolldown3:after{
	content:"";
    /*描画位置*/
	position: absolute;
	bottom:26px;
	left:0;
    /*丸の形状*/
	width:5px;
	height: 5px;
	border-radius: 50%;
	border:1px solid #000;
}


/*== ボタン共通設定 */
.btn02 {
    /*背景の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    display: inline-block;
    margin: 8vh 0 0 0;
    width:100%;
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    outline: none;
}

/*ボタン内側の設定*/
.btn02 span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #000;
    /* 重なりを3Dで表示 */
    transform-style: preserve-3d;
    /* アニメーションの設定 数字が少なくなるほど早く回転 */
    transition: 0.5s;
}

/*== 手前に */

/* 回転前 */
.rotatefront span:nth-child(1) {
    color: #000;
    transform: rotateX(0deg);/*はじめは回転なし*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}

/*hoverをした後の形状*/
.rotatefront:hover span:nth-child(1) {
    transform: rotateX(-90deg);/* X軸に-90度回転 */
}

/* 回転後 */
.rotatefront span:nth-child(2) {
    background: #000;
    color: #fff;
    transform: rotateX(90deg);/*はじめはX軸に90度回転*/
    transform-origin: 0 50%  -25px;/* 回転する起点 */
}

/*hoverをした後の形状*/
.rotatefront:hover span:nth-child(2) {
    transform: rotateX(0deg);/* X軸に0度回転 */
}


/*==================================================
印象編 4 最低限おぼえておきたい動き
===================================*/

/*==================================================
4-7 にゅーん（滑らかに変形して出現）
===================================*/

/* smooth */
.smooth{
	animation-name: smoothAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
  　transform-origin: left;
	opacity:0;
}

@keyframes smoothAnime{
  from {
  transform: translate3d(0, 100%, 0) skewY(12deg);
  opacity:0;
  }

  to {
  transform: translate3d(0, 0, 0) skewY(0);
  opacity:1;
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
 
.smoothTrigger{
    opacity: 0;
}




span.smoothText {
	overflow: hidden;
	display: block;
}

span.smoothTextTrigger{
	transition: .8s ease-in-out;
	transform: translate3d(0,100%,0) skewY(12deg);
	transform-origin: left;
	display: block;
}
span.smoothTextTrigger.smoothTextAppear{
    transform: translate3d(0,0,0) skewY(0);
}


/*========= ゲーミングCSS ===============*/

body {
	animation: bgchange 40s ease infinite;/*変化の時間を変更したい場合は40sの部分を好きな時間に変更*/
}

@keyframes bgchange{
      0%   {background:#ff0000;}/*変化させたい色*/
      7.7%  {background:#ff007f;}/*変化させたい色*/
      15.3%  {background:#ff00ff;}/*変化させたい色*/
      23%  {background:#0000ff;}/*変化させたい色*/
      30.7%  {background:#0000ff;}/*変化させたい色*/
      38.5% {background:#007fff;}/*変化させたい色*/
      46.1% {background:#00ffff;}/*変化させたい色*/
      53.8% {background:#00ff7f;}/*変化させたい色*/
      61.5% {background:#00ff00;}/*変化させたい色*/
      69.23% {background:#7fff00;}/*変化させたい色*/
      76.9% {background:#ffff00;}/*変化させたい色*/
      84.6% {background:#ff7f00;}/*変化させたい色*/
      92.3% {background:#ff0505;}/*変化させたい色*/
      100% {background:#ff0000;}/*変化させたい色*/
      

/*
#ff0000 
#ff007f 
#ff00ff 
#7f00ff 
#0000ff 
#007fff 
#00ffff 
#00ff7f 
#00ff00 
#7fff00 
#ffff00 
#ff7f00 
#ff0505 
#ff0582      
     /* 0%   {background:#da6a0b73;}/*変化させたい色*/
     /* 20%  {background:#8bda0b70;}/*変化させたい色*/
     /* 30%  {background:#18da0b54;}/*変化させたい色*/
     /* 40%  {background:#0bdaaa66;}/*変化させたい色*/
     /* 50%  {background:#0ba1da52;}/*変化させたい色*/
     /* 60% {background:#0b38da70;}/*変化させたい色*/
     /* 70% {background:#810bda59;}/*変化させたい色*/
     /* 80% {background:#da0b9a78;}/*変化させたい色*/
     /* 90% {background:#da0b4e69;}/*変化させたい色*/
     /* 100% {background:#da6a0b73;}/*変化させたい色*/
 }

/*==================================================
   印象編　5-14　波線（1つ）
===================================*/

#waveCanvas{
    position: absolute;
	left:0;
    width: 100%;
    z-index: 1;
}


#particle{
    position: absolute;
    left:0;
    top:0;
    width:100%;
	height: 100vh;
	vertical-align: bottom;
    z-index: 2;
}

@media screen and (max-width:768px) {
#particle{
    width:170%;
	height:170vh;
    left:-35%;
    top:-35vh;
    }    
}



.fixed{
    position: -webkit-sticky;/*Safari*/
    position: sticky;
	top:0;/*Header高さ分*/
}

@media screen and (max-width:768px) {
  .fixed{
    position: relative!important;/*JSでボタンをクリックした際にposition:sticky;に戻す記述を上書きするため!importantをつける*/
    }
}



.service-img svg{
	width:100%;/*SVGのサイズ*/
}

/*アニメーション前の指定*/
.service-img svg path {
		fill-opacity: 0;/*最初は透過0で見えない状態*/
		transition: fill-opacity .5s;/*カラーがつく際のアニメーション0.5秒で変化*/
		fill: none;/*塗りがない状態*/
		stroke: #000;/*線の色*/
	}

/*アニメーション後に.doneというクラス名がで付与された時の指定*/
.service-img svg.done path{
	  fill: #000;/*塗りの色*/
	  fill-opacity: 1;/*透過1で見える状態*/
	  stroke: none;/*線の色なし*/
	}
